/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-kala-important {
	font-family: 'Kalam', system-ui !important;
}

body {
	-webkit-overflow-scrolling: none;
	overscroll-behavior: none;
}
